.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

table, tr, td {
   border: 1px solid black;
}

td {
  vertical-align: top;
}


.node text {
  font: 8px sans-serif;
}

.node tspan {
  font-size: 3px;
  fill-opacity: 0.8;
}

.node--internal text {
  font-weight: bold;
}

.node--leaf rect {
  fill-opacity: 0.6;
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}

/*.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}*/
