.left{ float: left; width: 50%; }
.right{ display: inline-block; width: 50%; }

table, tr, td {
   border: 1px solid black;
}

table {
  width: 100%
}

td {
  vertical-align: top;
}

.node tspan {
  font-size: 3px;
  fill-opacity: 0.8;
}

.node--internal text {
  font-weight: bold;
}

.node--leaf rect {
  fill-opacity: 0.6;
}

svg * {
 vector-effect: non-scaling-stroke;
}
